<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand" href="#" >
    <img src="../../assets/IMG_2807.jpeg">
    Manish Kumar
  </a>
  <button 
    class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbaritems" 
    aria-controls="navbaritems" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbaritems">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" 
        (click)="setActiveTab('/aboutme')" 
        [class.active]="activeTab === 'aboutme'">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" 
        (click)="setActiveTab('/skills')" 
        [class.active]="activeTab === 'skills'">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" 
        (click)="setActiveTab('/experience')" 
        [class.active]="activeTab === 'experience'" >Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" 
        (click)="setActiveTab('/projects')" 
        [class.active]="activeTab === 'projects'" >Projects</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownItems" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Me</a>
        <div class="dropdown-menu" aria-labelledby="dropdownItems">
          <a class="dropdown-item" href="tel:+1-551-229-2663" target="_blank">
            <img src="../assets/telephone.svg" height="22px">&nbsp;&nbsp;&nbsp;+1 551-229-2663
          </a>
          <a class="dropdown-item" href="https://www.linkedin.com/in/manishkumar51290/" target="_blank">
            <img src="../assets/linkedin-1.svg" height="22px">&nbsp;&nbsp;&nbsp;LinkedIn
          </a>
          <a class="dropdown-item" href="mailto:mkumar001@my.wilmu.edu">
            <img src="../assets/email-1.svg" height="22px">&nbsp;&nbsp;&nbsp;mkumar131446@gmail.com
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

