
<app-header></app-header>
<section>
    <div class="container about-me">
      <h1 class="jumbotron-heading">About Me</h1>
      <p class="lead">
        I am a software professional specializing in UI Development and JavaScript technologies, with a focus on Angular frame work including AngularJs and Angular newer versions. 
        My expertise extends to various aspects of web development, including front-end technologies, scripting languages, and software testing.
        <br>
        <br>
        With a background in computer science and a detail-oriented approach, I have a track record of success in creating engaging web experiences and optimizing UI designs. 
        I excel in translating concept designs into functional prototypes, maintaining well-documented code, and contributing to a seamless user experience. 
        My analytical thinking and dedication make me a valuable asset for dynamic software development projects, and I am continually staying updated with the latest industry trends to deliver final results.
      </p>
    </div>
</section>
