
<app-header></app-header>
<section>
    <div class="container about-me">
      <h1 class="jumbotron-heading">About Me</h1>
      <p class="lead">
        I am a software professional with an industrial experience mainly focusing on AngularJS and Angular recent versions,
        UI Development and javascript technologies.
        <br>
        I have also worked extensively on software testing, scripting languages, maintenance and implementation based on existing software.
        <br>
        <!--  -->
        Prior to my work experience, I have done a coursework based Masters degree with broad ranging courses in computer science.
        <br>
        I consider myself a hard working and detail oriented professional with strong analytical and critical thinking abilities.
      </p>
    </div>
</section>
