<app-header></app-header>
<div class="container exp">
  <h1 class="jumbotron-heading">Experience</h1>
  <!-- Medline Industries LLP. -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">Medline Industries LLP, Chicago, IL</h4>
        <h3>UI/Web Developer</h3>
        <h5>Date: Feb 2022 - Present</h5>
        <ul>
          <li>
            <p class="lead">Independently managed the development of two projects from scratch, using Angular 13, JavaScript, Ag-Grid as a JavaScript framework, HTML, and CSS to craft user-friendly web applications.</p>
          </li>
          <li>
            <p class="lead">Implemented and managed the web application deployment on MS Azure, utilizing CI/CD practices and tools for seamless integration and delivery.</p>
          </li>
          <li>
            <p class="lead">Utilized the company's CSS library to ensure consistent typography and styling across Medline projects.</p>
          </li>
          <li>
            <p class="lead">Stayed Updated with the latest trends and technologies in UI development to enhance the project's performance and user experience.</p>
          </li>
          <li>
            <p class="lead">Showed expertise in Async/Await and ensured the creation of clean, testable, and well-documented code to enhance application robustness and maintainability.</p>
          </li>
        </ul> 
      </div>
    </div>
  </div>

  <!-- BOFA -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">Bank of America, Jersey City, NJ</h4>
        <h3>Sr. UI/Web Developer</h3>
        <h5>Date: June 2020 - Dec 2021</h5>
        <ul>
          <li>
            <p class="lead">
              As a Senior UI Developer, I took the lead in enhancing the internal web application primarily used by internal agents.
            </p>
          </li>
          <li>
            <p class="lead">
              My responsibilities involved leveraging AngularJS, CSS3, Bootstrap-4, Kendo Grid, JavaScript to optimize its functionality and user experience.
            </p>
          </li>
          <li>
            <p class="lead">Collaborated with User Experience Designer and product owner to conduct performance tests aimed at boosting conversion rates and enhancing user engagement.</p>
          </li>
          <li>
            <p class="lead">
              Crafted JUNIT cases and automated UI tests using Cucumber, Protractor, and Selenium; employed Http-server for End-to-End testing.
            </p>
          </li>
          <li>
            <p class="lead">
              Executed tests on SIT and UAT servers with real-time data; used Jasmine and Karma for unit testing to enhance code maintainability, reliability, and robustness.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- DNB -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">Dun & Bradstreet, Center Valley, PA (<a href="https://www.iresearch.dnb.com">D&B iResearch</a>)</h4>
        <h3>UI/Web Developer</h3>
        <h5>Date: Jan 2019 – June 2020</h5>
        <ul>
          <li>
            <p class="lead">
              Proposed architectural plan and led the migration from AngularJS 1.9 to Angular 11 through a hybrid approach and establishing it as the primary front-end framework.</p>
          </li>
          <li>
            <p class="lead">
              This transformation enabled the creation of views, connection of models to the DOM, and seamless data synchronization with the server, resulting in a robust Single Page Application.</p>
          </li>
          <li>
            <p class="lead">
              Customized the front-end as required using HTML, CSS, and a technology stack that includes TypeScript/ES6, Angular 11, and Angular CLI. This involved the creation of components, services, pipes, and directives.</p>
          </li>
          <li>
            <p class="lead">
              Used Angular 11 Template Driven forms and Modern Driven (Reactive) forms to perform form validations. Worked on some of the new features like new if else syntax, ng-templates, and form validators.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- Anthem -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">Anthem Inc, Norfolk, VA</h4>
        <h3>UI/Front-End Developer</h3>
        <h5>Date: Aug 2018 – Dec 2018</h5>
        <ul>
          <li>
            <p class="lead">Responsible for developing mobile application called Anthem Anywhere by writing well-structured, easily maintainable, and well-documented code using AngularJS and JavaScript and jQuery. Created Custom Directives, filters, made use of Modules, and $http service from controller.</p>
          </li>
          <li>
            <p class="lead">Utilized AngularJS to bind HTML template to JavaScript object & performed Parent & Activity provider UI designs, from concept through final product release for web and mobile application in responsive design.</p>
          </li>
          <li>
            <p class="lead">Meeting with UI development teams, project managers, and customers to ensure alignment with project specifications.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- SQA Labs -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">SQA Labs, Glendale, AZ</h4>
        <h3>UI Developer/UX Designer</h3>
        <h5>Date: April 2018 – July 2018</h5>
        <ul>
          <li>
            <p class="lead">Design prototype concepts using Axure, Photoshop, and Illustrator concept designs.</p>
          </li>
          <li>
            <p class="lead">Developed new prototypes and implemented those prototypes using JavaScript, jQuery, HTML and CSS.</p>
          </li>
          <li>
            <p class="lead">Executed a front-end development project to build a website, including development user interface using Angular 2, TypeScript, HTML, and CSS.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- Perseverance Software’s Pvt. Ltd -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">Perseverance Software’s Pvt. Ltd, India</h4>
        <h3>UI/UX Designer (Web Developer)</h3>
        <h5>Date: Jan 2014 – Jan 2016</h5>
        <ul>
          <li>
            <p class="lead">Responsible for designing, maintaining and updating website using JavaScript, J-query, PHP and HTML, bootstrap.</p>
          </li>
          <li>
            <p class="lead">Designed user-centered Web sites with sophisticated production values and intuitive navigation to maximize user engagement.</p>
          </li>
          <li>
            <p class="lead">Managed usability testing for site landing pages in preparation for Web site redesign.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
