<app-header></app-header>
<div class="container exp">
  <h1 class="jumbotron-heading">Experience</h1>
  <!-- Medline Industries LLP. -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">Medline Industries LLP, Chicago, IL</h4>
        <h3>UI/Web Developer</h3>
        <h5>Date: Feb 2022 - Present</h5>
        <ul>
          <li>
            <p class="lead">Responsible for UI designs as desired using HTML5, CSS3, JavaScript, TypeScript, and Angular..</p>
          </li>
          <li>
            <p class="lead">Working solo on a project from scratch, utilizing Angular, JavaScript, HTML, and CSS to craft engaging and user-friendly web experiences.</p>
          </li>
          <li>
            <p class="lead">Constantly updating with the latest UI trends and technologies for improved project performance and user experience.</p>
          </li>
          <li>
            <p class="lead">Build, analyzing, mocking, and implemented user-facing applications and supporting systems and libraries on web and/or desktop using front-end technologies such as JavaScript, TypeScript, Angular, HTML5, CSS3.</p>
          </li>
        </ul> 
      </div>
    </div>
  </div>

  <!-- BOFA -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">Bank of America, Jersey City, NJ</h4>
        <h3>Sr. UI/Web Developer</h3>
        <h5>Date: June 2020 - Dec 2021</h5>
        <ul>
          <li>
            <p class="lead">
              Responsible for analyzing, mocking and giving shaping UI design as desire and implement it using HTML5, CSS3, jQuery/JavaScript,
              AngularJS.
            </p>
          </li>
          <li>
            <p class="lead">Executed test cases on SIT and UAT server using real time data.</p>
          </li>
          <li>
            <p class="lead">
              Collaborated with UX Designer, optimizing tests to boost conversion and user engagement. 
              <br> and executed test cases using jasmine and Karma for unit testing and Http-server for End2End testing.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- DNB -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">Dun & Bradstreet, Center Valley, PA (<a href="https://www.iresearch.dnb.com">D&B iResearch</a>)</h4>
        <h3>UI/Web Developer</h3>
        <h5>Date: Jan 2019 – June 2020</h5>
        <ul>
          <li>
            <p class="lead">
              Responsible for developing new user-facing features along with building reusable code and libraries for future use.</p>
          </li>
          <li>
            <p class="lead">
               Responsible for writing and executing TDD and BDD based automation scripts for UI end to end testing using ES6, Protractor,
               Selenium and Cucumber for automation testing.</p>
          </li>
          <li>
            <p class="lead">
              Responsible for mocking and giving shaping front-end as desire using HTML, CSS, jQuery/JavaScript, AngularJS.</p>
          </li>
          <li>
            <p class="lead">
              Presented an architecture for upgrading Angularjs 1.9 to Angular 11 using hybrid approach.
              Responsible for</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- Anthem -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">Anthem Inc, Norfolk, VA</h4>
        <h3>UI/Front-End Developer</h3>
        <h5>Date: Aug 2018 – Dec 2018</h5>
        <ul>
          <li>
            <p class="lead">Responsible for developing SPA by writing well-structured, easily maintainable and well-documented code using HTML 5.0, CSS3,
              SCSS, jQuery, AngularJS and JavaScript and jQuery.</p>
          </li>
          <li>
            <p class="lead">Utilized AngularJS to bind HTML template to JavaScript object & performed Parent & Activity provider UI designs, from concept through
              final product release for web and mobile applications in responsive design.</p>
          </li>
          <li>
            <p class="lead">Created Custom Directives, filters in AngularJS, made use of Modules, Filters and $http service from controller.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- SQA Labs -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">SQA Labs, Glendale, AZ</h4>
        <h3>UI Developer/UX Designer</h3>
        <h5>Date: April 2018 – July 2018</h5>
        <ul>
          <li>
            <p class="lead">Developed prototype concepts using Axure, Photoshop, and Illustrator concept designs.</p>
          </li>
          <li>
            <p class="lead">Developed new prototypes and implemented those prototypes using JavaScript, jQuery, HTML and CSS.</p>
          </li>
          <li>
            <p class="lead">Responsible for creating JavaScript code for different modules.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- Perseverance Software’s Pvt. Ltd -->
  <div class="container">
    <div class="row">
      <div class="container">
        <h4 class="jumbotron-heading">Perseverance Software’s Pvt. Ltd, India</h4>
        <h3>UI/UX Designer (Web Developer)</h3>
        <h5>Date: Jan 2014 – Jan 2016</h5>
        <ul>
          <li>
            <p class="lead">Responsible for designing, maintaining and updating website using JavaScript, J-query, PHP and HTML, bootstrap.</p>
          </li>
          <li>
            <p class="lead">Designed user-centered Web sites with sophisticated production values and intuitive navigation to maximize user engagement.</p>
          </li>
          <li>
            <p class="lead">Managed usability testing for site landing pages in preparation for Web site redesign.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
