.thumbnail:hover {
  box-shadow: 0 20px 20px 4px;
  transition: 0.3s;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: contents;
  vertical-align: middle;
}
.thumbnail{
  margin: 1rem;
  padding: 0.5rem;
}
h1, p{
	font-family: 'Raleway', sans-serif;
}
