<app-header></app-header>

<div class="container mt-5">
  <!-- Supply Chain Link -->
  <div class="container mb-4">
    <div class="jumbotron-heading">
      <h4>
        <a href="https://www.medline.com/" target="_blank">
          <img src="../../assets/medline-logo.jpg" style="width: 50px; height: 50px;">
        </a> Supply Chain Link:
      </h4>
    </div>
    <div class="project-summary">
      <p>
        I played a pivotal role in the development and deployment of Supply Chain Link, an internal application exclusively utilized by internal sales representatives at Medline Industries. 
        This application, powered by technologies such as Angular version 10, JavaScript, Ag-Grid, HTML, and CSS, revolutionized our ordering system, 
        while also effectively managing and maintaining supply order statuses, akin to the operations seen in e-commerce giants like Amazon.com.
      </p>
    </div>
    <!-- <div class="btn-group project-weburl-link">
      <button href="https://www.medline.com/" class="btn btn-sm btn-primary">Visit</button>
    </div> -->
  </div>
  
  <!-- TPP  -->
  <div class="container mb-4">
    <div class="jumbotron-heading">
      <h4>
        <a href="https://www.medline.com/" target="_blank">
          <img src="../../assets/medline-logo.jpg" style="width: 50px; height: 50px;">
        </a> Talent Planning Process:
      </h4>
    </div>
    <div class="project-summary">
      <p>
        As the sole UI developer, I played a pivotal role in conceptualizing, developing, and implementing the Talent Planning Process, an internal application within the Human Resource Department during my tenure at Medline Industries. 
        This project was built entirely from scratch, leveraging a robust technology stack that included Angular 15, SCSS, HTML, the company's style library UILine, and the powerful Ag-Grid. 
        The application facilitated the efficient management of employee performance and potential rating points, streamlining collaboration between respective managers and HR professionals, and significantly enhancing the overall effectiveness of talent management within the organization.
      </p>
    </div>
    <!-- <div class="btn-group project-weburl-link">
      <button href="https://www.medline.com/" class="btn btn-sm btn-primary">Visit</button>
    </div> -->
  </div>

  <!-- ganesh agro -->
  <div class="container mb-4">
    <div class="jumbotron-heading">
    <h4>
      <a href="http://ganeshagro.com/" target="_blank">
        <img src="http://pic.accessify.com/thumbnails/777x423/g/ganeshagro.com.png" style="width: 50px; height: 50px;">
      </a> GANESH AGRO:
    </h4>
    </div>
    <div class="project-summary">
      <p>
        The primary objective of this project was to create a straightforward, responsive, and user-friendly website dedicated to online marketing and the sale of agricultural commodities such as food and seeds. 
        I spearheaded the development of this website, harnessing an extensive technology stack that included HTML, CSS (utilizing SCSS for enhanced styling), JavaScript, jQuery, and Angular, all while maintaining the company's style library, UILine. 
        This project not only fulfilled its aim of providing a seamless online platform for agricultural product sales but also exhibited my proficiency in web development and design.
      </p>
    </div>
    <!-- <div class="btn-group project-weburl-link">
      <button href="http://ganeshagro.com/" class="btn btn-sm btn-primary">Visit</button>
    </div> -->
  </div>

  <!-- drivedge -->
  <div class="container mb-4">
    <div class="jumbotron-heading">
      <h4>
        <a href="http://drivedge.com/" target="_blank">
          <img src="https://image2.owler.com/5851362-1473621736376_thumbnail.png" style="width: 50px; height: 50px;">
        </a> DRIVEDGE:
      </h4>
    </div>
    <div class="project-summary">
      <p>
        I led the development of a simple yet impactful web application for Drivedge, a company renowned for its leadership in technology consulting, ERP solutions, and the establishment of ODCs (Offshore Development Centers) and offshore delivery teams. 
        This project involved an extensive technology stack, including HTML, CSS (utilizing SCSS for advanced styling), JavaScript, jQuery, and Angular. 
        The application not only met the company's need for an efficient web solution but also demonstrated my expertise in web development and design, 
        further enhancing Drivedge's technological capabilities.
      </p>
    </div>
    <!-- <div class="btn-group">
      <button href="http://drivedge.com/" class="btn btn-sm btn-primary">Visit</button>
    </div> -->
  </div>

  <!-- RALPHENS SYSTEMS INC -->
  <div class="container mb-4">
    <div class="jumbotron-heading">
      <h4>
        <a href="http://ralphensengr.net/" target="_blank">
          <img src="../../assets/ralphen.jpg" style="width: 50px; height: 50px;">
        </a> RALPHENS SYSTEMS INC:
      </h4>
    </div>
    <div class="project-summary">
      <p>
        This was the project I worked on Web application for a software consulting company.
      </p>
    </div>
    <!-- <div class="btn-group">
      <button href="http://ralphensengr.net/" class="btn btn-sm btn-primary">Visit</button>
    </div> -->
  </div>

  <!-- PUNK GOGGLES -->
  <div class="container mb-4">
    <div class="jumbotron-heading">
      <h4>
        <a href="http://rxsteampunkgoggles.com/" target="_blank">
          <img src="https://i.pinimg.com/originals/60/d3/00/60d300f8f2f8c90ae2e2e3057c832a2e.png" style="width: 50px; height: 50px;">
        </a> PUNK GOGGLES:
      </h4>
    </div>
    <div class="project-summary">
      <p>
        The primary aim of this project was to develop a comprehensive e-commerce web application that provided users with a seamless shopping experience, 
        including detailed product information. I took the lead in crafting this robust web solution, utilizing a versatile technology stack that encompassed HTML, 
        CSS (with SCSS for enhanced styling), JavaScript, jQuery, Angular, and PHP. This application not only successfully delivered a feature-rich e-commerce platform 
        but also showcased my proficiency in web development and design, making it a valuable asset for both users and the organization.
      </p>
    </div>
    <!-- <div class="btn-group">
      <button href="http://rxsteampunkgoggles.com/" class="btn btn-sm btn-primary">Visit</button>
    </div> -->
  </div>
</div>

