<app-header></app-header>
<div class="album py-5 bg-light">
  <div class="container">
    <h1 class="jumbotron-heading">Projects</h1>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">

      <!-- Supply Chain Link -->
      <div class="col-md-3 thumbnail">
        <div class="card">
          <img src="../../assets/medline-logo-180-180.jpg" style="width: 100%; height: auto;">
          <div class="card-body">
            <h4>Supply Chain Link</h4>
            <p class="card-text">
              Supply Chain Link, an internal application exclusively utilized by internal sales representatives at Medline Industries. 
              This application revolutionized our ordering system, while also effectively managing and maintaining supply order statuses, 
              akin to the operations seen in e-commerce platforms.
            </p>
          </div>
        </div>
      </div>

      <!-- TPP  -->
      <div class="col-md-3 thumbnail">
        <div class="card">
          <img src="../../assets/medline-logo-180-180.jpg" style="width: 100%; height: auto;">
          <div class="card-body">
            <h4>Talent Planing Process</h4>
            <p class="card-text">
              The Talent Planning Process is an internal application within the Human Resource Department during my tenure at Medline Industries. 
              This application facilitated the efficient management of employee performance and potential rating points, 
              streamlining the collaboration between respective managers and HR professionals.
            </p>
          </div>
        </div>
      </div>

      <!-- ganesh agro -->
      <div class="col-md-3 thumbnail">
        <div class="card">
          <a href="http://ganeshagro.com/" target="_blank">
          <img src="http://pic.accessify.com/thumbnails/777x423/g/ganeshagro.com.png" style="width: 100%; height: auto;"></a>
          <div class="card-body">
            <h4>GANESH AGRO</h4>
            <p class="card-text">The aim of this project was to make simple responsive and user-friendly website which was based on online marketing to sell agricultural commodities like foods and seeds.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="http://ganeshagro.com/" class="btn btn-sm btn-primary">Visit</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- drivedge -->
      <div class="col-md-3 thumbnail">
        <div class="card">
          <a href="http://drivedge.com/" target="_blank">
          <img src="https://image2.owler.com/5851362-1473621736376_thumbnail.png" style="width: 100%; height: auto;"></a>
          <div class="card-body">
            <h4>DRIVEDGE</h4>
            <p class="card-text">Simple web application for Drivedge company which derives its strong leadership in technology consulting, ERP, and setting up ODCs & offshore delivery teams.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="http://drivedge.com/" class="btn btn-sm btn-primary">Visit</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- RALPHENS SYSTEMS INC -->
      <div class="col-md-3 thumbnail">
        <div class="card">
          <a href="http://ralphensengr.net/" target="_blank">
            <img src="../../assets/ralphen.jpg" style="width: 100%; height: auto;">
          </a>
          <div class="card-body">
            <h4>RALPHENS SYSTEMS INC</h4>
            <p class="card-text">Web application for a software consulting company.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="http://ralphensengr.net/" class="btn btn-sm btn-primary">Visit</a>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- PUNK GOGGLES -->
      <div class="col-md-3 thumbnail">
        <div class="card">
          <a href="http://rxsteampunkgoggles.com/" target="_blank">
          <img src="https://i.pinimg.com/originals/60/d3/00/60d300f8f2f8c90ae2e2e3057c832a2e.png" style="width: 100%; height: auto;"></a>
          <div class="card-body">
            <h4>PUNK GOGGLES</h4>
            <p class="card-text">The aim of the project was to make e-commerce web application which deliver all facitlity along with product detail.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="http://rxsteampunkgoggles.com/" class="btn btn-sm btn-primary">Visit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

