<app-header></app-header>
<section>
  <div class="container">
    <div class="container ">
      <h1 class="jumbotron-heading">Skills</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="container">
          <h3 class="jumbotron-heading">Web Development:-</h3>
          <p class="lead">
            AngularJS, Angular 2/4/6/7/8/9/10/11, Express.js, jQuery, Javascript, Javascript framework, ECMAScript ES5/ES6+, Ember.js,
            <br>
            Next.js, Vue.js Web API, CSS/CSS3/Sass, Semantic, Bootstrap, HTML/HTML5, REST API, Swagger, Node.js/NPM, Webpack
          </p>
        </div>

        <div class="container">
          <h3 class="jumbotron-heading">Databases:-</h3>
          <p class="lead">
            Microsoft SQL, Oracle PL/SQL, MogoDB
          </p>
        </div>

        <div class="container">
          <h3 class="jumbotron-heading">Languages:-</h3>
          <p class="lead">
            Shell Scripting, Visual Basic, Assembly Language, Python, PHP
          </p>
        </div>

        <div class="container">
          <h3 class="jumbotron-heading">Methodologies:-</h3>
          <p class="lead">
            OOP/D, UML, MVC
          </p>
        </div>

        <div class="container">
          <h3 class="jumbotron-heading">Others:-</h3>
          <p class="lead">
            Adobe Flash, Adobe Photoshop, Adobe XD/illustrator, Visual Studio, MS Project, GitHub, Docker, Grunt & Gulp, Protractor, NPM, native DOM, Event APIs
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
