<div id="landing-header">
  <h1 style="font-family: 'Raleway', sans-serif;">Manish Kumar</h1>
  <h1 style="font-family: 'Raleway', sans-serif;">UI/Front-End Web Developer</h1>
  <a routerLink="aboutme" class="btn btn-lg btn-primary" style="font-family: 'Raleway', sans-serif;">Welcome To My Profile</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="../../assets/Manish_resume.pdf" target="_blank" class="btn btn-lg btn-primary" style="font-family: 'Raleway', sans-serif;">Resume</a>
</div>
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
